body {
  background: linear-gradient(
    -45deg,
    var(--orange),
    var(--pink),
    var(--blueLight),
    var(--greenLight)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: cursive !important;
}

#root,
body {
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#quote-box {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
    color:var(--textColor)
}

#new-quote {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  border: none;
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

#new-quote:hover,.social-icon:hover {
  transform: scale(1.04);
    transition: 0.3s;
    cursor: pointer;
}

.social-icon{
  font-size: 24px;
  color: var(--textColor);
}

.social-icon:hover{
  color:var(--textHoverColor)
}

.by{
  color: var(--textColor);
  text-decoration: none;
  display: block;
  text-align: center;
}
.by:hover{
  color: var(--textHoverColor);
  transition: 0.3s;
}