:root{
    --orange:#ee7752;
    --pink:#e73c7e;
    --blueLight:#23a6d5;
    --greenLight:#23d5ab;
    --textColor:#fff;
    --buttonTextColor:#000;
    --buttonBackgroundColor:#fff;
    --textHoverColor:aquamarine;
}